.container{
    width: 60%;
    margin-left: 350px;
    margin-top: 20px;
}
img{
    width: 500px;
    height: 300px;
}
img:hover{
    cursor: pointer;
    width: 250px;
    height: 250px;
}
.menu-grid{
    width: 85%;
    margin-left: 100px;
    background-color: cornsilk;
}
.restaurant-name{
    margin-left: 100px;
    font-size: larger;
    font-family: sans-serif;
    height: 40px;
}

.restaurant-cuisine {
   margin-left: 100px;
   height: 25px;
  }
  
  .restaurant-cuisine ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .restaurant-cuisine li {
    font-size: 16px;
    margin-top: 0px;
    color: rgb(99, 96, 96);
  }


  .restaurant-location{
    margin-left: 100px;
    color: rgb(173, 170, 170);
  }