<div class="container" *ngIf="restaurantService.selectedRestaurant!=null">
    <div class="menu-grid">
        <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile colspan="2" rowspan="2">
                <img [src]="restaurantService.selectedRestaurant.menuItems[0].menuItemImage" alt="Menu Item Image">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
                <img [src]="restaurantService.selectedRestaurant.menuItems[1].menuItemImage" alt="Menu Item Image">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <img [src]="restaurantService.selectedRestaurant.menuItems[2].menuItemImage" alt="Menu Item Image">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <img [src]="restaurantService.selectedRestaurant.menuItems[3].menuItemImage" alt="Menu Item Image">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="restaurant-name">
        <h1>{{restaurantService.selectedRestaurant.restaurantName}}</h1>
    </div>
    <div class="restaurant-cuisine">
        <ul>
            <li *ngFor="let cuisineType of restaurantService.selectedRestaurant.cuisineTypeData; let last = last">
                {{cuisineType.cuisineType}}{{!last ? ',' : ''}}
            </li>
        </ul>
    </div>
    <div class="restaurant-location">
        {{restaurantService.selectedRestaurant.restaurantLocation}}, Mumbai
    </div>
    <p>{{restaurantTime}}</p>
    <div class="restaurant-info">
        <mat-tab-group dynamicHeight>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">assignment</mat-icon>
                    Overview
                </ng-template>
                <h1>About this place</h1>
                <div style="display: flex;">
                    <button class="sanitized-button">
                        <img src="assets\Icons\sanitized-kitchen.png" alt="sanitized icon" />
                        Well Sanitized Kitchen
                    </button>
                    <button class="sanitized-button">
                        <img src="assets\Icons\sanitized-hand.jpg" alt="sanitized icon" />
                        Rider Hand Wash
                    </button>
                    <button class="sanitized-button">
                        <img src="assets\Icons\temp-check-icon.png" alt="sanitized icon" />
                        Daily Temp. Check
                    </button>
                </div>
                <h2>Cuisines</h2>
                <ul>
                    <li *ngFor="let cuisineType of restaurantService.selectedRestaurant.cuisineTypeData;"
                        class="boxed-li">
                        {{cuisineType.cuisineType}}
                    </li>
                </ul>
                <h2>More Info</h2>
                <ul>
                    <li *ngFor="let moreInfoData of moreInfo" class="more-info">
                        <span class="material-symbols-outlined">
                            priority
                        </span>{{moreInfoData}}
                    </li>
                </ul>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">query_builder</mat-icon>
                    Order Online
                </ng-template>
                <div class="restaurant-menu-items">
                    <ng-container
                        *ngFor="let menuItem of restaurantService.selectedRestaurant.menuItems; let i = index">
                        <h2>
                            <div class="menu-item-info">
                                {{i+1}}. {{menuItem.menuItemName}} <br>
                                <span class="menu-item-price">&#x20B9;{{menuItem.menuItemPrice}}</span><br><br>
                                <span class="menu-item-desc">{{menuItem.menuItemDesc}}</span>
                            </div>
                            <img src="{{menuItem.menuItemImage}}" />
                            <button class="add-remove" (click)="onMenuItemSelect(menuItem)"><span
                                    class="material-symbols-outlined">add</span></button>
                            <span class="quantity">{{menuItem.quantity}}</span>
                            <button class="add-remove" (click)="onMenuItemDeSelect(menuItem)"><span
                                    class="material-symbols-outlined">remove</span></button>
                        </h2>
                        <hr class="menu-divider">
                    </ng-container>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">view_quilt</mat-icon>
                    Photos
                </ng-template>
                <h2>{{restaurantService.selectedRestaurant.restaurantName}} Photos</h2>
                <div class="image-grid">
                    <div *ngFor="let menuItem of restaurantService.selectedRestaurant.menuItems" class="grid-item">
                        <img src="{{menuItem.menuItemImage}}" />
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="view-cart-container">
        <button (click)="addItemsToFoodCart()" *ngIf="foodCart.length > 0">
            <span class="material-symbols-outlined">shopping_cart</span>VIEW CART
            ({{quantity}})
        </button>
    </div>

</div>