.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 600px;
    height: 300px;
    margin-left: 36%;
    margin-top: 250px;
    background-color: rgba(21, 192, 175, 0.125);
}

h1 {
    font-size: 28px;
    color: green;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    font-size: 20px;
    color: brown;
}

p {
    color: gray
}

a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #b30024;
}