<h1>Hello {{username}} !! {{welcomeMessage}} <img src="assets\Icons\food-delivery.png" alt="Logo"></h1>
<div class="container">
    <div class="first-container">
        <h2>Inspiration for your first order</h2>
        <ul>
            <li *ngFor="let foodType of foodTypeList">
                <a (click)="onMenuItemBtnClick(foodType)">
                    <img [src]="foodType.foodTypeImage" alt="{{ foodType.foodTypeName }} Image">
                    <h3>{{ foodType.foodTypeName }}</h3>
                </a>
            </li>
        </ul>
    </div>
    <div class="second-container">
        <h2>Top Brands For You</h2>
        <ul>
            <li *ngFor="let topBrand of topBrandList">
                <a (click)="onBrandClick(topBrand)">
                    <img [src]="topBrand.brandImage" alt="{{ topBrand.brandName }} Image">
                    <h3>{{ topBrand.brandName }}</h3>
                </a>
            </li>
        </ul>
    </div>
</div>