<h1>Hello {{username}} !! {{welcomeMessage}} <img src="assets\Icons\food-delivery.png" alt="Logo"></h1>
<div class="container">
    <div>
        <div class="first-container">
            <h2>Inspiration for your first order</h2>
            <ul>
                <li>
                    <a (click)="onMenuItemBtnClick('Pizza')">
                        <img src="/assets/Food Type Images/Pizza.jpg" alt="Pizza Image">
                        <h3>Pizza</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Biryani')">
                        <img src="/assets/Food Type Images/Biryani.jpg" alt="Biryani Image">
                        <h3>Biryani</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Cake')">
                        <img src="/assets/Food Type Images/Cake.jpg" alt="Cake Image">
                        <h3>Cake</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Burger')">
                        <img src="/assets/Food Type Images/Burger.jpg" alt="Burger Image">
                        <h3>Burger</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Thali')">
                        <img src="/assets/Food Type Images/Thali.jpg" alt="Thali Image">
                        <h3>Thali</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Chicken')">
                        <img src="/assets/Food Type Images/Chicken.jpg" alt="Chicken Image">
                        <h3>Chicken</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Dosa')">
                        <img src="/assets/Food Type Images/Dosa.jpg" alt="Dosa Image">
                        <h3>Dosa</h3>
                    </a>
                </li>
                <li>
                    <a (click)="onMenuItemBtnClick('Noodles')">
                        <img src="/assets/Food Type Images/Noodles.jpg" alt="Noodles Image">
                        <h3>Noodles</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="second-container">
        <h2>Top Brands For You</h2>
        <ul>
            <li *ngFor="let topBrand of topBrandList">
                <a (click)="onBrandClick(topBrand)">
                <img [src]="topBrand.brandImage" alt="{{ topBrand.brandName }} Image">
                <h3>{{ topBrand.brandName }}</h3>
                </a>
            </li>
        </ul>
    </div>
</div>